@model zoomrs.Models.ViewModels.AppointmentVM
@{
	// IEnumerable<DisableDate> disableDate = ViewData["DisableDate"] as IEnumerable<DisableDate>;

}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">

	<title>SELECT222</title>
	<link href="~/vendor/css/rtl/core.css" rel="stylesheet" />
	<link href="~/vendor/css/rtl/theme-default.css" rel="stylesheet" />
	<link href="~/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" />
	<link href="~/vendor/libs/bs-stepper/bs-stepper.css" rel="stylesheet" />

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
	<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<link href="~/vendor/libs/bootstrap-select/bootstrap-select.css" rel="stylesheet" />

	<link href="~/vendor/libs/sweetalert2/sweetalert2.css" rel="stylesheet" />
	<link href="~/vendor/libs/animate-css/animate.css" rel="stylesheet" />

	@* 	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" /> *@
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>


	<!-- Core theme CSS (includes Bootstrap)-->
	<link href="~/css/styles.css" rel="stylesheet" />
	<link rel="stylesheet" href="~/vendor/libs/animate-css/animate.css">
	<link href="~/vendor/libs/fullcalendar/fullcalendar.css" rel="stylesheet" />
	<link href="~/vendor/libs/flatpickr/flatpickr.css" rel="stylesheet" />
	<link href="~/vendor/libs/select2/select2.css" rel="stylesheet" />
	<link href="~/vendor/libs/quill/editor.css" rel="stylesheet" />
	<link href="~/vendor/libs/form-validation/umd/styles/index.min.css" rel="stylesheet" />
	<link href="~/vendor/css/pages/app-calendar.css" rel="stylesheet" />


@* 	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11"> *@
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


	<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

	<script>
		function enableSubmitBtn() { 
			document.getElementById("submitBtn").disabled = false;
		}
	</script>


@* 	<script src="multiselect-dropdown.js"></script> *@
	<style>
		select {
			width: 20em;
		}

		#showTime {
			display: none;
		
		}

		#TimeSlots {
			width: 100%;
		}

		.flatpickr-disabled {
			color: red !important;
		
			
		
		}

		body {
			font-family: 'Ubuntu', sans-serif;
			font-weight: bold;
		}

		ul {
			list-style: none;
			padding: 0;
			margin: 0;
		}

		li {
			display: inline-block;
			margin-right: 10px;
		}

	/* 	.select2-container {
			border: 5px solid red;
		} */

		.select2-results__option {
			padding-right: 20px;
			vertical-align: middle;
		}

			.select2-results__option:before {
				content: "";
				display: inline-block;
				position: relative;
				height: 20px;
				width: 20px;
				border: 2px solid #e9e9e9;
				border-radius: 4px;
				background-color: #fff;
				margin-right: 20px;
				vertical-align: middle;
			}

			.select2-results__option[aria-selected=true]:before {
				font-family: fontAwesome;
				content: "\f00c";
				color: #fff;
				background-color: #f77750;
				border: 0;
				display: inline-block;
				padding-left: 3px;
			}

		.select2-container--default .select2-results__option[aria-selected=true] {
			background-color: #fff;
			
		}

		.select2-container--default .select2-results__option--highlighted[aria-selected] {
			background-color: #eaeaeb;
			color: #272727;
		}

		.select2-container--default .select2-selection--multiple {
			margin-bottom: 10px;
		}

		.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
			border-radius: 4px;
		}

		.select2-container--default.select2-container--focus .select2-selection--multiple {
			border-color: #f77750;
			border-width: 2px;
		
		}

		.select2-container--default .select2-selection--multiple {
		border-radius:5px;
			border: 1px solid green;
		
		}

		.select2-selection__rendered{
		min-height:40px;
		}

		.select2-container--open .select2-dropdown--below {
			border-radius: 6px;
			box-shadow: 0 0 10px rgba(0,0,0,0.5);
			border: 5px solid ghostwhite;
		}

		.select2-selection .select2-selection--multiple:after {
			content: 'hhghgh';
		
		}
		/* select with icons badges single*/
		.select-icon .select2-selection__placeholder .badge {
			display: none;
		}

		.select-icon .placeholder {
			display: none;
		}

		.select-icon .select2-results__option:before,
		.select-icon .select2-results__option[aria-selected=true]:before {
			display: none !important;
			/* content: "" !important; */
		}

		.select-icon .select2-search--dropdown {
			display: none;
		}

		.min-vh-90 {
			min-height: 90vh;
		}
	</style>
</head>
<body>

	<script src="https://www.google.com/recaptcha/api.js" async defer></script>

	
	<main class="flex-shrink-0 calambabg ">
		<!-- Navigation-->
		

		<nav class="navbar navbar-expand-lg bg-gradient-primary-to-secondary ">
			<div class="container  d-flex justify-content-center">
				<a asp-area="Users" asp-controller="Home" asp-action="Index"> <img class="profile-img" src="~/assets/logomin.webp" width="220" alt="calamba logo" /></a>
			</div>
		</nav>








		<div class="container-fluid  d-flex justify-content-center align-items-center min-vh-90">

		<div class="card form-control ">
			<form method="POST" class="form-control" asp-action="Upsert" id="appointmentForm" enctype="multipart/form-data">
			

				<!-- Default -->
				<div class="row">

					<!-- Default Wizard -->
					<div class="col-12 mb-4 ml-5 mr-5">

						<div class="bs-stepper wizard-numbered mt-2">
							<div class="bs-stepper-header">
								<div class="step" data-target="#personal-info">

									<button type="button" class="step-trigger" disabled >
										<span class="bs-stepper-circle">1</span>
										<span class="bs-stepper-label mt-1">
											<span class="bs-stepper-title">Personal Information</span>
											<span class="bs-stepper-subtitle">Setup Account Details</span>
										</span>
									</button>

								</div>
								<div class="line">
									<i class="bx bx-chevron-right"></i>
								</div>
								<div class="step" data-target="#reason" >

										<button type="button" class="step-trigger" disabled>
										<span class="bs-stepper-circle">2</span>
										<span class="bs-stepper-label mt-1">
											<span class="bs-stepper-title">Purpose</span>
										
										</span>

									</button>
								</div>

								<div class="line">
									<i class="bx bx-chevron-right"></i>
								</div>
								<div class="step" data-target="#datezoom">
										<button type="button" class="step-trigger" disabled>
										<span class="bs-stepper-circle">3</span>
										<span class="bs-stepper-label mt-1">
											<span class="bs-stepper-title">Select Your Reservation Date</span>
											<span class="bs-stepper-subtitle">Select Date and Time</span>
										</span>
									</button>
								</div>
							</div>
							<div class="bs-stepper-content">
								
									<!-- Account Details -->
									<div id="personal-info" class="content">
										<div class="content-header mb-3">
											<h6 class="mb-0">Account Details</h6>
											<small>Enter Your Account Details</small>
										</div>
										<div class="row g-3">
											<div class="col-sm-6">
												<label class="form-label" for="FirstName">First Name</label>
												<input asp-for="Appointment.FirstName" type="text" class="form-control" id="fn" aria-describedby="firstname" placeholder="First Name" required>
												<span asp-validation-for="Appointment.FirstName" class="text-danger"></span>
											</div>


										


											<div class="col-sm-6">
												<label class="form-label" for="LName">Last Name</label>
												<input asp-for="Appointment.LastName" type="text" class="form-control" id="ln" placeholder="Last Name" aria-label="lname" required>
												<span asp-validation-for="Appointment.LastName" class="text-danger"></span>

											</div>

											<div class="col-sm-6">
												<label class="form-label" for="Sex">Sex</label>




											<select asp-for="Appointment.Sex" class="form-select" aria-label="Sex" id="sex" required>

											
													<option value="Male">Male</option>
													<option value="Female">Female</option>
												</select>
												<span asp-validation-for="Appointment.Sex" class="text-danger"></span>

											</div>


											<div class="col-sm-6">
												<label class="form-label" for="Department">Department</label>


											<select asp-for="Appointment.DepartmentId" asp-items="@Model.DepartmentList" class="form-select" id="department"  required>
												<option selected disabled>Select Department</option>
												</select>
												<span asp-validation-for="Appointment.DepartmentId" class="text-danger"></span>
											</div>

											 <div class="col-sm-6">
												<label class="form-label" for="email">Email</label>
												<input asp-for="Appointment.Email" type="email" class="form-control" id="email" placeholder="userEmail@gmail.com" required>
												<span asp-validation-for="Appointment.Email" class="text-danger"></span>


											
												
											</div>


											 <div class="col-sm-6">
												<label class="form-label" for="PhoneNumber">Phone Number</label>

											<input asp-for="Appointment.PhoneNum" type="text" class="form-control" id="phone" placeholder="Phone Number" required>
												<span asp-validation-for="Appointment.PhoneNum" class="text-danger"></span>
											</div> 








											<div class="col-12 d-flex justify-content-between">
												<button class="btn btn-label-secondary btn-prev" disabled>
													<i class="bx bx-chevron-left bx-sm ms-sm-n2"></i>
													<span class="align-middle d-sm-inline-block d-none">Previous</span>
												</button>
											<button class="btn btn-primary btn-next " id="nextButton" disabled>
													<span class="align-middle d-sm-inline-block d-none me-sm-1">Next</span>
													<i class="bx bx-chevron-right bx-sm me-sm-n2"></i>
												</button>
											</div>
										</div>
									</div>
									<!-- Purpose Info -->
									<div id="reason" class="content">
										<div class="content-header mb-3">
											<h6 class="mb-0">Purpose</h6>
											<small>Purpose why you want to use Zoom </small>
										</div>
										<div class="row g-3">
											
											<div class="col-sm-12">
												<label class="form-label" for="reason">Purpose</label>


											<textarea asp-for="Appointment.reason" class="form-control" placeholder="Type Here...." id="purpose" required></textarea>
												<span asp-validation-for="Appointment.reason" class="text-danger"></span>
											</div>
										
											<div class="col-12 d-flex justify-content-between">
												<button class="btn btn-primary btn-prev">
													<i class="bx bx-chevron-left bx-sm ms-sm-n2"></i>
													<span class="align-middle d-sm-inline-block d-none">Previous</span>
												</button>
											<button class="btn btn-primary btn-next" id="nextButton1" disabled>
													<span class="align-middle d-sm-inline-block d-none me-sm-1">Next</span>
													<i class="bx bx-chevron-right bx-sm me-sm-n2"></i>
												</button>
											</div>
										</div>
									</div>
									<!-- datae -->
									<div id="datezoom" class="content">
										<div class="content-header mb-3">
											<h6 class="mb-0">Date and Time</h6>
										<small>Select Date and Time</small>
										</div>
										<div class="row g-3">
											<div class="col-sm-6">
												<label class="form-label" for="Select Date">Select Date</label>
												<input type="text" class="form-control" id="selectedDate" name="selectedDate" placeholder="Click here to select Date" required />
											<span id="valdate" class="text-danger"></span>

											</div>


											<div class="col-sm-6" id="showTime">
												<label class="form-label" for="Select Time(s)">Select Time</label>

												<input type="hidden" id="selectedTimeSlots" class="form-control border border-primary" name="SelectedTimeSlots" />
												<select required id="TimeSlots" class="js-select2 border border-primary " multiple onchange="console.log(Array.from(this.selectedOptions).map(x=>x.value??x.text))" multiselect-hide-x="true"></select>
												<span id="valtime" class="text-danger"></span>
											</div>








										<div class="g-recaptcha" data-sitekey="6Lc0XQ4qAAAAACAtm6swcOApaU3ubm19jH1mDpb6" data-callback="enableSubmitBtn"></div>
											<div class="col-12 d-flex justify-content-between">
												<button class="btn btn-primary btn-prev">
													<i class="bx bx-chevron-left bx-sm ms-sm-n2"></i>
													<span class="align-middle d-sm-inline-block d-none">Previous</span>
												</button>
											<button id="submitBtn" type="submit" disabled="disabled" class="btn btn-primary ">Submit</button>
											
											</div>
										</div>
									</div>
								
							</div>
						</div>
					</div>
					<!-- /Default Wizard -->

				</div>

		



			

			</form>
		</div>

		</div>
	
	</main>
	<!-- Footer-->


	@{
		// Get the list of disabled dates from ViewData
		var disabledDates = ViewData["DisableDate"] as List<string>;
		// Serialize the list of disabled dates to JSON
		var disabledDatesJson = Newtonsoft.Json.JsonConvert.SerializeObject(disabledDates);
	}





	<script>
		document.addEventListener('DOMContentLoaded', function () {
			const nextButton = document.getElementById('nextButton');
	
			const inputs = document.querySelectorAll('#fn, #ln, #sex, #department, #email, #phone');

			function checkInputs() {
				let allFilled = true;
				inputs.forEach(input => {
					if (input.value === '') {
						allFilled = false;
					}
				});
				nextButton.disabled = !allFilled;
				
			}

			inputs.forEach(input => {
				input.addEventListener('input', checkInputs);
			});
		});




		document.addEventListener('DOMContentLoaded', function () {
		
			const nextButton1 = document.getElementById('nextButton1');
			const inputss = document.querySelectorAll('#purpose');

			function checkInputs() {
				let allFilled = true;
				inputss.forEach(input => {
					if (input.value === '') {
						allFilled = false;
					}
				});
				
				nextButton1.disabled = !allFilled;
			}

			inputss.forEach(input => {
				input.addEventListener('input', checkInputs);
			});
		});



	</script>

	
















	<script>
		$(document).ready(function () {
			var disableDate = @Html.Raw(Json.Serialize(ViewData["DisableDate"]));

			var disabledDates = @Html.Raw(disabledDatesJson);

			disableDate = disableDate.map(function (dateString) {
				var utcDate = new Date(dateString + "T00:00:00Z"); // Assume dates are in UTC
				var localDate = new Date(utcDate.getTime() + utcDate.getTimezoneOffset() * 60000); // Convert to local timezone
				return localDate.toISOString().split('T')[0]; // Format as YYYY-MM-DD
			});

			flatpickr("#selectedDate", {
				dateFormat: "Y-m-d",
				minDate: "today",
				locale: "fil", // Set the locale to Filipino
				time_24hr: true,
				disable: [
					disabledDates, // Pass disableDate array as the first element
					function (date) {
						// Disable weekends (Saturday and Sunday)
						if (date.getDay() === 0 || date.getDay() === 6) {
							return true;
						}
						var isoDate = date.toISOString().split('T')[0];
						return disableDate.includes(isoDate);
					}

				]

			});
		});


	</script>
	<script>

		$(document).ready(function () {
			$('#appointmentForm').submit(function (event) {
				event.preventDefault();

				// Get selected time slots
				var selectedTimeSlots = $('#TimeSlots').val();
				console.log($('#TimeSlots').val().length);

				$('#selectedTimeSlots').val(selectedTimeSlots.join(','));

				var selectedDate = $('#selectedDate').val();
				console.log($('#selectedDate').val());


				if (!selectedDate) {
					$('#valdate').text('Please select a date.');

					return false; // prevent form submission
				}


				if ($('#TimeSlots').val().length == 0) {

					$('#valtime').text('Please select at least one time slot.');
					return false; // prevent form submission
				}
				else {
					$('#valtime').text('');
				}
				// Set the selected time slots to the hidden input field

				// Check for empty time slots


				// Check for empty textboxes
				var isTextBoxEmpty = false;
				$('input[type="text"]').each(function () {
					if ($(this).val().trim() === '') {
						isTextBoxEmpty = true;
						return false; // exit the loop early if an empty textbox is found
					}
				});



				
					if (isTextBoxEmpty) {
					
						return false; // prevent form submission
					} 
					
			






				// Proceed with form submission if all validations pass
				

				
				


				var form = $(this);
				$.ajax({
					url: form.attr('action'),
					type: form.attr('method'),
					data: form.serialize(),
					beforeSend: function () {
						
						$('#submitBtn').attr('disabled', 'disabled').text('Submitting');
					},
					success: function (response) {
						if (response.success) {
							var timesList = '';
							$.each(response.times, function (index, time) {
								timesList += '<li class="badge bg-label-success mb-2 text-white">' + time + '</li>';
							});
							// Assuming the response from the server indicates a successful submission
							Swal.fire({
								
								
								html: `
									  <div class="p-3" style="font-family: Arial, sans-serif; background-image: url('https://crms.calambacity.gov.ph/img/clean3.jpg'); background-size: cover; background-position: center; padding: 20px; border-radius: 10px;">
					<div class="text-center mb-2">
												<h2 class="fw-bold" style="color: #fff;">Appointment Details</h3>
					</div>
					<div class="modal-body">
						<div class="row mb-3">
							<div class="col-lg-12 col-sm-12">
								<label class="col-lg-4 col-sm-12 col-form-label d-flex justify-content-start text-white" for="fullName">Full Name</label>
								<div class="col-12">
											<label class="text-white fs-4 fw-bold" >${response.firstname} ${response.lastname}</label>
								</div>
							</div>
							<div class="col-lg-12 col-sm-12">
										<label class="col-sm-5 col-form-label d-flex justify-content-start text-white" for="transactionId">Transaction ID:</label>
								<div class="col-12">
													<label class="fs-3 fw-bold" style="color:#c1ffc3f2;">${response.tCode}</label>
								</div>
							</div>
						</div>
						    <hr>
								<p class="text-white "><strong>Times Reserved:</strong></p>
						<ul>${timesList}</ul>
					</div>
				</div>
		
		
		  `,
								confirmButtonText: 'OK'
							}).then((result) => {
								if (result.isConfirmed || result.isDismissed) {
									window.location.href = response.redirectUrl; // Redirect or perform any other action
								} else {
									Swal.fire({
										icon: 'error',
										title: 'Error!',
										text: 'Please Fill-up the missing Field.',
										confirmButtonText: 'OK'
									});
								}
							});
						}
					},
					error: function (xhr, status, error) {
						
						Swal.fire({
							icon: 'error',
							title: 'Error!',
							text: 'Something went wrong. Please try again..',
							confirmButtonText: 'OK'
						});
					},
					complete: function () {
						
						$('#submitBtn').removeAttr('disabled').text('Submit');
					}

				});








			});
		});
	</script>

	

	<script>
		$(document).ready(function () {
			$("#selectedDate").change(function () {
				var selectedDate = $(this).val();
				console.log(selectedDate);
				$('#showTime').css('display', 'block');
				$('.multiselect-dropdown').css('width', '100%');
				$.ajax({
					url: '@Url.Action("GetAvailableTimeSlots", "Appointment")',
					type: 'GET',
					dataType: 'json',
					data: { selectedDate: selectedDate },
					success: function (availableTimeSlots) {
						// Clear previous options
						$('#TimeSlots').empty();
						console.log(availableTimeSlots);
						// Populate options with available time slots
						for (var i = 0; i < availableTimeSlots.length; i++) {
							var item = availableTimeSlots[i];

							// Check if item.text is defined and not empty
							if (item && typeof item.text === 'string' && item.text.trim() !== '') {
								console.log(item.text); // Log the text of each available time slot

								// Create a new <option> element
								var option = $('<option>', {
									value: item.value,
									text: item.text
								});

								// Check if the option should be disabled
								if (item.disabled) {
									option.prop('disabled', true);
								}

								// Append the option to the <select> element with id #TimeSlots
								$('#TimeSlots').append(option);
							} else {
								console.log("Text is undefined or empty for item: ", item);
							}
						}
					},
					error: function (xhr, status, error) {
						console.log("Error fetching time slots: " + error);
					}
				});





				










			});

		});




	</script>


	<script>

		$(".js-select2").select2({
			closeOnSelect: false,
			placeholder: " Select Time",
			allowHtml: true,
			allowClear: true,
			tags: true 
		});

		$('.icons_select2').select2({
			width: "100%",
			templateSelection: iformat,
			templateResult: iformat,
			allowHtml: true,
			placeholder: "Placeholder",
			dropdownParent: $('.select-icon'),
			allowClear: true,
			multiple: false
		});


		function iformat(icon, badge,) {
			var originalOption = icon.element;
			var originalOptionBadge = $(originalOption).data('badge');

			return $('<span><i class="fa ' + $(originalOption).data('icon') + '"></i> ' + icon.text + '<span class="badge bg-label-success">' + originalOptionBadge + '</span></span>');
		}

	</script>





	
	<script src="~/vendor/libs/sweetalert2/sweetalert2.js"></script>
 	<script src="~/js/extended-ui-sweetalert2.js"></script>
	<script src="~/vendor/libs/jquery/jquery.js"></script>
	<script src="~/vendor/libs/popper/popper.js"></script>
	<script src="~/vendor/js/bootstrap.js"></script>

	<script src="~/vendor/libs/bootstrap-select/bootstrap-select.js"></script>
	<script src="~/vendor/libs/select2/select2.js"></script>
	<script src="~/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
	<script src="~/vendor/libs/hammer/hammer.js"></script>

	<script src="~/vendor/libs/i18n/i18n.js"></script>
	<script src="~/vendor/libs/typeahead-js/typeahead.js"></script>
	<script src="~/vendor/js/menu.js"></script>





	<script src="~/vendor/libs/bs-stepper/bs-stepper.js"></script>
	<script src="~/vendor/libs/bootstrap-select/bootstrap-select.js"></script>
	<script src="~/vendor/libs/select2/select2.js"></script>

	@* <script src="~/js/main.js"></script> *@

	<script src="~/js/form-wizard-numbered.js"></script>
	<script src="~/js/form-wizard-validation.js"></script>
	@section Scripts
		{
		<partial name="_validationScriptsPartial" />
	}
</body>
</html>