<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] Zoom Reservation</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />


</head>
<body>
	@* <header>
	<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
	<div class="container-fluid">
	<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">template</a>
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
	aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
	</button>
	<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
	<ul class="navbar-nav flex-grow-1">
	<li class="nav-item">
	<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
	</li>
	<li class="nav-item">
	<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
	</li>
	</ul>
	<partial name="_LoginPartial" />
	</div>
	</div>
	</nav>
	</header>
	<div class="container">
	<main role="main" class="pb-3">*@
	@RenderBody()
	@* </main>
	</div>

	<footer class="border-top footer text-muted">
	<div class="container">
	&copy; 2023 - template - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
	</div>
	</footer>
	-----------------------------------------------------------------
	*@
	<script>
		(function (w, d, s, l, i) {
			w[l] = w[l] || []; w[l].push({
				'gtm.start':
					new Date().getTime(), event: 'gtm.js'
			}); var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
					'../../../../www.googletagmanager.com/gtm5445.html?id=' + i + dl; f.parentNode.insertBefore(j, f);
		})(window, document, 'script', 'dataLayer', 'GTM-5DDHKGP');</script>
	<!-- End Google Tag Manager -->


	<link rel="icon" type="image/x-icon" href="https://demos.themeselection.com/sneat-bootstrap-html-admin-template/assets/img/favicon/favicon.ico" />

	<!-- Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com/">
	<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&amp;display=swap" rel="stylesheet">

	<!-- Icons -->


	<link href="~/vendor/fonts/boxicons.css" rel="stylesheet" />
	<link href="~/vendor/fonts/fontawesome.css" rel="stylesheet" />
	<link href="~/vendor/fonts/flag-icons.css" rel="stylesheet" />
	<!-- Core CSS -->
	<!-- <link rel="stylesheet" href="../../assets/css/demo.css" /> -->

	<link href="~/vendor/css/rtl/core.css" rel="stylesheet" class="template-customizer-core-css" />
	<link href="~/vendor/css/rtl/theme-default.css" rel="stylesheet" class="template-customizer-theme-css" />


	<link href="~/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" />
	<link href="~/vendor/libs/typeahead-js/typeahead.css" rel="stylesheet" />
	<link href="~/vendor/libs/apex-charts/apex-charts.css" rel="stylesheet" />
	@*----------------------------------*@
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>

	<script src="~/js/config.js"></script>
	<script src="~/vendor/js/helpers.js"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>























@* 

<div class=" p-3 ">
	<div class="text-center mb-2">
		<h3>Appointment Details</h3>
		<p>Cancel your Reservation</p>
	</div>
	<div class="modal-body">
		<div class="row mb-3">
			<div class=" col-lg-4 col-sm-12 ">
				<label class="col-lg-4 col-sm-12 col-form-label" for="First Name">First Name</label>
				<div class="col-12">
					<input type="text" class="form-control" value="test" disabled="">
				</div>
			</div>
			<div class="col-lg-4 col-sm-12">
				<label class="col-sm-3 col-form-label" for="LastName">Last Name</label>
				<div class="col-12">
					<input type="text" class="form-control" value="test" disabled="">
				</div>
			</div>
			<div class="col-lg-4 col-sm-12">
				<label class="col-sm-5 col-form-label" for="Transaction ID:">Transaction ID:</label>
				<div class="col-12">
					<input type="text" class="form-control" value="Admin_2024-07-04_64" disabled="">
				</div>
			</div>

		</div>
		
		<p><strong>Department:</strong></p>
		<p><strong>Time:</strong></p>

		<div class="col-3 badge bg-label-success mt-2 mb-2  mx-1"> 1:00PM-2:00PM</div>
	</div>
</div> *@